.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.MuiGrid-item{
  height: 40px;
  padding-left: 0.5% !important;
  padding-top: 0.5% !important;
}

.MuiPaper-root{
  height: 90%;
}


@keyframes background-fade {
  0% {
      background:#FF5964;
  }
  50% {
      background:#38618C;
  }
  100% {
      background:#38618C;
  }
}

.visited{
  background-color: #38618C !important;
  animation: background-fade 0.2s;
}

.revisited{
  background-color: #38618C !important;
}

.unvisited{
  background-color: #FFFFFF !important;
}

.start{
  background-color: black !important;
}

.MuiGrid-root .MuiGrid-container{
  margin-top: 0px;
}

.parentGrid{
  margin-left: 1% !important;
  margin-right: 1% !important;
  width: 99% !important;
  margin-top: 0px !important;
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-column-gap: 03px;
  grid-row-gap: 03px;
  height: 3.5%;
}

.grid-container{
  height: 100%;
}